.container .row h1{
  font-size: 24px;
  text-transform: uppercase;
}

.container .row a{
  margin: 20px 0;
  display: block;
  text-transform: uppercase;
}

.container .row {
  padding: 0 15px;
}

.container .row p {
  font-weight: bold;
}

.container .row p span {
  font-weight: normal;
}